@import 'reset';
@import 'button';
@import 'variables';
@import 'modal-films';
@import 'loading';
@import 'background';
@import 'card';
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Chakra+Petch');

/* Estilo do container que faz a distribuição das propriedades entre componentes */
.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 100vh;
}


