@import 'reset';
@import 'button';
@import 'variables';

.loading{
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative; 
  height: 100vh;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 70px solid #fff;
  border-color: $yellow transparent $yellow transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 100vh;
}

.modalfilm-content{
  width: 410px;
  height: 380px;
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 10px;

  p {
    color: $red;
    font-weight: bold;
    text-align: right;
    font-size: 30px;
    cursor: pointer;
    padding: 0;
  }
}

.modalfilm-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  z-index: 3;
}

.card {
  border: 7px solid $yellow;
  // color: $red;
  // $darken( $red, 10% );
  width: 400px;
  height: 380px;
  background-color: rgba($yellow, .8);
  border-radius: 30px 30px 15px 15px;
  z-index: 1;
  overflow: auto;

  @media (max-width: 600px){
    width: 95%;
  }
}

.card-name {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border-radius: 20px 20px 0 0;
  background-color: $yellow;
  // background-color: rgba($yellow, .9);
  h1 {
    font-size: 40px;
    color: $red;
  }
}

.card-info{
  padding: 10px;
  height: 70%;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p{
    font-size: 20px;
  }
}

.card-films{
  display: flex;
  justify-content: center;
}

.button {
  padding: 15px
}

// Background move stars
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}


.stars, .twinkling {
  display: block;
  min-height: 100vh;
  position: fixed;
  width: 100vw;
}

.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:0;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:1;

animation:move-twink-back 200s linear infinite;
}
