@import 'reset';

.app-container{
  position: relative;
  z-index: 2;
}

.card {
  border: 3px solid #f5d91f;
  color: #f5d91f;
  width: 370px;
  height: 50%;
  background-color: rgba($color: #f5d91f, $alpha: .6);
  border-radius: 30px 30px 15px 15px;
  z-index: 1;
}

.card-name {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border-radius: 25px 25px 0 0;
  background-color: #f5d91f;
  h1 {
    font-size: 40px;
    color: #fff;
  }
}

.card-info{
  padding: 10px;
  height: 70%;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p{
    font-size: 20px;
  }
}

.card-films{
  display: flex;
  justify-content: center;
}

.button {
  padding: 15px
}

// Background move stars
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}


.stars, .twinkling {
  display: block;
  min-height: 100vh;
  position: fixed;
  width: 100vw;
}

.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:0;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:1;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}
