@import 'reset';

.card {
  border: 3px solid blue;
  color: yellow;
  width: 370px;
  height: 50%;
  background-color: rgba($color: blue, $alpha: .6);
  border-radius: 30px 30px 15px 15px;
}

.card-name {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border-radius: 25px 25px 0 0;
  background-color: blue;
  h1 {
    font-size: 40px;
    color: #fff;
  }
}

.card-info{
  padding: 10px;
  height: 70%;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p{
    font-size: 20px;
  }
}

.card-films{
  display: flex;
  justify-content: center;
}

.app-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 101%;
  min-width: 100%;
  background: url(../../images/star-wars-bg.png) no-repeat;
  background-size: 100% 100%;
}

.button {
  padding: 15px
}
